@use '@/styles/utils' as *;

$sp_rate: 0.35 !default;

section.main {
  @include section;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.decoration {
  position: absolute;
  z-index: -1000;
  width: 100%;
  height: 100%;

  & > * {
    animation-name: bobbing;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    animation-direction: alternate-reverse;
    animation-duration: 1000ms;
  }

  & [class*='polygonDeco'] {
    position: absolute;
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 8px;
    width: rem(157);
    animation-timing-function: ease-out;

    @include mobile {
      width: rem(157) * $sp_rate;
    }
  }

  .polygonDeco1 {
    top: 28%;
    left: 8%;
    animation-delay: 1000ms;

    @include mobile {
      top: 13%;
    }
  }

  .polygonDeco2 {
    top: 7%;
    left: 73%;
    animation-delay: 200ms;

    @include mobile {
      // top: 3%;
    }
  }

  .polygonDeco3 {
    z-index: -1;
    top: 80%;
    left: 73%;
    animation-delay: 400ms;

    @include mobile {
      top: 70%;
    }
  }

  & [class*='circleDeco'] {
    position: absolute;
    border-radius: 50%;
    border: solid rem(5) var(--color-primary);
    animation-timing-function: linear;
    @include mobile {
      border: solid rem(5) * $sp_rate var(--color-primary);
    }
  }

  .circleDeco1 {
    top: 65%;
    left: 11%;
    width: rem(200);
    height: rem(200);
    animation-delay: 600ms;

    @include mobile {
      width: rem(200) * $sp_rate;
      height: rem(200) * $sp_rate;
    }
  }

  .circleDeco2 {
    top: 31%;
    left: 91%;
    width: rem(120);
    height: rem(120);
    animation-delay: 500ms;

    @include mobile {
      width: rem(120) * $sp_rate;
      height: rem(120) * $sp_rate;
      top: 16%;
    }
  }

  & [class*='imageDeco'] {
    position: absolute;
    border-radius: 50%;
    object-fit: cover;
    animation-timing-function: ease-in;
  }

  .imageDeco1 {
    z-index: -1;
    top: 21%;
    left: 13%;
    width: rem(160);
    height: rem(160);
    animation-delay: 1000ms;

    @include mobile {
      width: rem(160) * $sp_rate;
      height: rem(160) * $sp_rate;
      top: 6%;
    }
  }

  .imageDeco2 {
    top: 47%;
    left: 5%;
    width: rem(240);
    height: rem(240);
    animation-delay: 2000ms;

    @include mobile {
      width: rem(240) * $sp_rate;
      height: rem(240) * $sp_rate;
      top: 37%;
      left: 1%;
    }
  }

  .imageDeco3 {
    z-index: -1;
    top: 73%;
    left: 16%;
    width: rem(224);
    height: rem(224);
    animation-delay: 1500ms;

    @include mobile {
      width: rem(224) * $sp_rate;
      height: rem(224) * $sp_rate;
      // top: 58%;
      left: 6%;
    }
  }

  .imageDeco4 {
    top: 20%;
    left: 77%;
    width: rem(240);
    height: rem(240);
    animation-delay: 700ms;

    @include mobile {
      width: rem(240) * $sp_rate;
      height: rem(240) * $sp_rate;
      top: 10%;
    }
  }

  .imageDeco5 {
    top: 45%;
    left: 83%;
    width: rem(224);
    height: rem(224);
    animation-delay: 100ms;

    @include mobile {
      width: rem(224) * $sp_rate;
      height: rem(224) * $sp_rate;
    }
  }

  .imageDeco6 {
    top: 71%;
    left: 78%;
    width: rem(200);
    height: rem(200);
    animation-delay: 300ms;

    @include mobile {
      width: rem(200) * $sp_rate;
      height: rem(200) * $sp_rate;
    }
  }
}

.polygon,
.content {
  padding-top: rem(128);

  @include mobile {
    padding-top: rem(128) * $sp_rate;
  }
}

.polygon {
  z-index: -100;
  fill: var(--color-primary);
  width: rem(1028);
  min-width: rem(1028);

  padding-bottom: rem(200);

  @include mobile {
    width: rem(1028) * $sp_rate;
    min-width: rem(1028) * $sp_rate;
    padding-bottom: rem(200) * $sp_rate;
  }
}

.content {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: rem(755);

  .icon {
    width: rem(180);
    margin-top: rem(50);

    @include mobile {
      width: rem(180) * $sp_rate;
      margin-top: rem(50) * $sp_rate;
    }
  }

  .title {
    color: var(--color-white);
    margin-top: rem(66);

    font-size: rem(50);
    letter-spacing: rem(2.24);

    @include mobile {
      margin-top: rem(66) * $sp_rate;
      font-size: rem(50) * $sp_rate;
      letter-spacing: rem(2.24) * $sp_rate;
    }
  }

  .description {
    color: var(--color-white);
    margin-top: rem(63);

    font-size: rem(24);
    letter-spacing: rem(0.58);
    white-space: pre-line;

    @include mobile {
      margin-top: rem(63) * $sp_rate;

      font-size: rem(24) * $sp_rate;
      letter-spacing: rem(0.58) * $sp_rate;
    }
  }

  @include mobile {
    width: rem(755) * $sp_rate;
  }
}

@keyframes bobbing {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(5px);
  }
}
