@use 'variables' as *;

@mixin mobile {
  @media screen and (max-width: #{$breakpoint_sp}px) {
    @content;
  }
}

@mixin wideScreen {
  @media screen and (max-width: #{$breakpoint_wide_screen}px) {
    @content;
  }
}

@mixin action {
  transition: opacity 200ms;
  cursor: pointer;

  &:hover,
  &:active {
    transition: opacity 100ms;
    opacity: 0.6;
  }
}

@mixin section {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
