@use 'variables' as *;

@mixin mobile {
  @media screen and (max-width: #{$breakpoint}px) {
    @content;
  }
}

@mixin action {
  transition: opacity 200ms;

  &:hover,
  &:active {
    transition: opacity 100ms;
    opacity: 0.6;
  }
}
