@use '@/styles/utils' as *;

section.activities {
  @include section;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.activitiesGroup {
  margin-top: rem(80);
}

.activity {
  background-color: var(--background);
}
