@use '@/styles/utils' as *;

.header {
  z-index: 10000;
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  background-color: var(--color-white);
  padding: rem(22) rem(63) rem(8);

  transition: transform 0.45s cubic-bezier(0.23, 1, 0.58, 1);
  &.hidden {
    transform: translateY(-100%);
  }
}

.glyph {
  display: flex;
  gap: rem(24);
  @include action;

  .logo {
    width: rem(46);
  }

  .tagline {
    width: rem(96);
    margin-top: rem(5);
  }
}

.links {
  display: flex;
  align-items: center;
  gap: rem(40);
  margin-top: rem(3);
  margin-left: rem(55);

  a {
    text-decoration: none;
    color: var(--color-primary);

    font-size: rem(13);
    font-weight: 600;

    @include action;
  }
}
