@use '@/styles/utils' as *;

.footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: var(--color-primary);
  padding: rem(60) rem(20) rem(100);

  font-size: rem(24);
  color: var(--color-white);

  @include tablet {
    padding: rem(60) 15vw rem(40);
    flex-flow: column;
    gap: rem(60);
  }

  @include mobile {
    padding: rem(50) 5vw rem(20);
    font-size: rem(18);
  }

  ul,
  li {
    list-style: none;

    a {
      @include action;
      text-decoration: none;
      color: var(--color-white);
    }
  }
}

.list {
  & > li {
    font-weight: bold;

    & > a {
      display: inline-flex;
      align-items: center;

      span:global(.material-symbols-outlined) {
        font-size: rem(20);
        margin-top: rem(5);
        margin-right: rem(5);

        @include mobile {
          font-size: rem(16);
          margin-top: rem(2);
        }
      }
    }

    & > ul {
      font-weight: initial;
      margin-top: rem(16);
      line-height: rem(38);

      span:global(.material-symbols-outlined) {
        font-size: rem(20);
        margin-right: rem(5);

        @include mobile {
          font-size: rem(16);
        }
      }
    }

    &:not(:last-child) {
      margin-bottom: rem(32);

      @include mobile {
        margin-bottom: rem(24);
      }
    }
  }
}

.copyright {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: rem(35);

  .icon {
    @include action;
    width: rem(150);
    height: rem(150);
    border-radius: 50%;
    border: rem(2) solid var(--color-white);
  }
}
