@use '@/styles/utils' as *;

h2.sectionTitle {
  text-align: center;
  margin-top: rem(20);
  color: var(--color-primary);
  font-size: rem(45);
}

.icon {
  width: rem(72);
  height: rem(72);
  margin: rem(100) auto rem(0);
}
